@CHARSET "UTF-8";
@import "mysite.css";


#driver	{ padding:20px;	width:1036px; height:2030px; background-color:#ffffff;}
#realtimeTest		{ padding:20px;	width:1036px; height:900px; background-color:#d8d8d8;}

